<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="BeanShell test">
   <method-selectors>
     <method-selector>
       <script language="beanshell"><![CDATA[
         groups.containsKey("A") && groups.containsKey("Z")
       ]]></script>
     </method-selector>
   </method-selectors>
   <classes>
      <class name="String.StringTest"/>
      <class name="Tree.TreeTest"/>
      <class name="Array.ArrayTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
